.TargetMood {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;

  .Title {
    font-size: larger;
    font-weight: bold;
  }

  .MoodList {
    display: flex;
    gap: 10px;

    .Selected {
      background-color: red;
    }
  }

  .PathList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 280px;
    width: 100%;
    gap: 1px;
    overflow: scroll;
    padding: 1px;

    .XpList {
      outline: 1px solid black;
      display: flex;
      gap: 4px;
      padding: 0 4px;
      cursor: pointer;

      &:hover {
        background-color: grey;
      }
    }
  }
}
