.TargetMood {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  .Title {
    font-size: larger;
    font-weight: bold;
  }

  .MoodList {
    display: flex;
    gap: 10px;

    .Selected {
      background-color: red;
    }
  }

  .PathList {
    display: flex;
    flex-direction: column;

    .XpList {
      display: flex;
      gap: 4px;
    }
  }
}
