.TraitsList {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 8px;

  .Title {
    font-size: larger;
    font-weight: bold;
  }

  .List {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
}
